b {
  display: inline-block;
  width: 120px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: right;
  padding-right: 10px;
}
.newAdd {
  margin: 20px 0;
}
.addtableclass .ant-table-content .ant-table-body {
  margin: 0;
}
