.ant-select-sm .ant-select-selection__rendered {
  line-height: 32px;
  margin: 0 7px;
}
.ant-select-sm .ant-select-selection--single {
  height: 32px;
}
.fill-form-assistant .place-line {
  line-height: 32px;
  font-size: 15px;
  margin-left: -22px;
  -webkit-transform: scale(2, 1);
  transform: scale(2, 1);
  color: #ccc;
}
.ant-input-sm {
  padding: 1px 7px;
  height: 32px;
}
.ant-col-4 .Takeofftimeinterval .ant-time-picker-inpu {
  height: 32px !important;
}
