.Dependentsinformation {
  text-align: right;
  margin-bottom: -10px;
  margin-top: -8px;
}
.Dependentsinformation .Dependentsinformationbtn {
  background-color: #00698f;
  border: none;
}
.Dependentsinformation .cardCategoryinfo {
  margin-bottom: 10px;
}
