.Travel-agency-maintenance {
  position: relative;
}
.Travel-agency-maintenance .liyiuyu {
  height: 30px;
}
.Travel-agency-maintenance .Travel-agency-maintenance-addbtn {
  position: absolute;
  top: 68px;
  right: 24px;
  z-index: 10 ;
  background-color: #00698f;
  border: none;
}
