.onbyonepersontitless {
  display: flex;
  justify-content: space-between;
  padding: 0 0 10px 0px;
}
.onbyonepersontitless .Certificate-types {
  flex-basis: 230px;
}
.onbyonepersontitless div {
  width: 25%;
}
.onbyonepersontitless .ertificate-card {
  padding-left: 5px;
}
.itemflahshsgffa .ant-card-body {
  height: 150px;
  overflow: hidden;
  overflow-y: scroll;
}
.itemflahshsgffa .itemflahshsgffapepole {
  margin-bottom: 10px;
}
.itemflahshsgffa .itemflahshsgffapepole .itemflahshsgffapepoletitle {
  display: flex;
  justify-content: space-between;
  padding: 0 0 10px 0px;
}
.itemflahshsgffa .itemflahshsgffapepole .itemflahshsgffapepoletitle div:nth-child(1) {
  flex-basis: 230px;
}
.itemflahshsgffa .itemflahshsgffapepole .itemflahshsgffapepoletitle div {
  width: 25%;
}
.itemflahshsgffa .itemflahshsgffapepole .itemflahshsgffapepoletitle .ertificate-birtheay {
  padding-left: 5px;
}
