.card {
  position: relative;
}
.card .retubtn {
  position: absolute;
  top: 11px;
  right: 33px;
}
.ant-card-head {
  height: 56px !important;
}
.upload-file {
  margin-top: 10px;
}
.submit-btn {
  text-align: center;
  margin-bottom: 30px;
}
.ant-upload-list-text .ant-upload-list-item-undefined {
  width: 35%;
}
